/*

Shiddy Media Player

Nginx fancyindex Module CSS Stylesheet

k6b

*/

head, title, meta, link, script, .skCover, .ppdisplay, .skLeftBlock, .skRightBlock {
	display: none;
}

html[lang=en] {
	--webkit-locale: en;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color:#000000;
}

a:hover {
	color:#FF0000;
}

html {
	display: block;
}

body {
	margin:0;
	padding:10px;
	font-size:80%;
	font-family: sans-serif;
}

h1 {
	width: auto;
	margin: auto;
	text-align:center;
	font-size:12px;
	font-family: sans-serif;	
}

table {
	width: 80%;
	margin: auto;
	margin-bottom: 60px;
	display: table;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-spacing: 0px;
}

colgroup {
	display: table-column-group;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

td, th {
	display: table-cell;
	vertical-align: inherit;
}

th {
	font-weight: bold;
	background:#00CCFF;
}

.e {
	background:#CBCBCB;
}

.o {

}
